:root {
  --background-color: #040d12;
  --text-color: #faf6f0;
  --white-color: #ffffff;
  --navbar-background-color: #092626;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
