.search-box {
  margin: 32px;
  border-radius: 34px;
  background: linear-gradient(
    90deg,
    #092626 0.24%,
    rgba(46, 44, 44, 0.66) 49.62%,
    rgba(94, 91, 95, 0.28) 105.83%,
    rgba(0, 0, 0, 0.11) 146.1%
  );
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-title {
  line-height: 67.6px;
  font-weight: 500;
  margin-bottom: 0;
}
